/* @media(max-width:600px){
    .container_box1{
        background-color: blue;
    }
    .container_box2{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:400px){
    .container_box1{
        background-color: green;
    }
   
} */
/* 
@media(max-width:626px){
    .container_box1{
        background-color: blue;
    }
    .container_box2{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:400px){
    .container_box1{
        background-color: green;
    }
   
} */
@media(max-width:626px){
    .container_box2{
        background-color: blue;
    }
    .container_box2{
        flex-wrap: wrap;
        justify-content: center;
    }  
    .box1{
        width: 80%;
    }
    .box{
        width: 30%;
        justify-content:space-between
    }
 
    }
















