header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(192, 255, 241);
    font-size: 30px;
    color: slategrey;
    position: fixed;
    width: 100%;
    top: 0;
    left:0 ;   
 }

 .logo_image{
   width:40px;
   margin-left: 10px;

}

.Newtones_cradle{
   margin-top: 80px;
   font-size: 14px;   
 }

.img1{
   width: 150px;
   float: left;
   margin: 8px;
  }

  .img{
   width: 120px;
   height: 80px;
   float: right;
   margin: 8px;
   display: flex;
   justify-content: space-around;
   align-items: end;

  }

  b,strong{
   width: 30px;
   color: blue;
   width: 50px;
   height: 10px;
   font-weight: bold;
  }

  a{
   text-decoration: none;
 }
   
   
 .navigation ul{
   display: flex;
   margin-top: 30px;
   margin-right: 30px;
   
   }

   .burger{
     width: 80px;
     height: 50px;
     color: black;
     font-size: 30px;
     position: relative;
     display: none;
   }

   li{
      display: inline;
      margin: 10px;
   }
   
   .nav_li{
      margin-right: 25px;
   }

 /* .test{
   display: inline-flex;
 } */
 /* body{
  font-family: ;
 } */

 .Newtones_cradle{
   font-size: 20px;
   display: inline-block;
   
 }

 

 
 .maps_if{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
 }
 

 
 iframe{
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 45px;
 
 }
 
 
 .contact{
    display: block;
    margin-bottom: 15px;
 }
 
 /* main {
   display: block;
   unicode-bidi: isolate;
}
 */



    .chat_icon{
       width: 90px;
       height: 60px;
       position: fixed;
       bottom: 60px;
       right: 60px;
       z-index: -1; 
    }
    .wrapper{
       /* display: flex;
       justify-content: center;
       align-items: center; */
       padding: 25px;
       
       background-color:rgb(233, 255, 192);
       display: inline-flex;
     
    }
    .fa-brands{
      display: inline-block;
      font-size: 25px;

    }
    /* body {
      line-height: 1;
  }
     */
   .par{
      display: inline-flex;
      font-size: 20px;
      margin-top: 80px;
      margin-left: 50px;
      border-bottom: 40px;
      padding-bottom: 20px;
     }